<div class="mb-6">
  <%= link_to organization_project_tasks_path(@organization, @project), class: "text-sm text-indigo-600 hover:text-indigo-700 dark:text-indigo-400 dark:hover:text-indigo-300" do %>
    <%= t("actions.back_to_tasks") %>
  <% end %>
</div>

<div class="bg-white rounded-xl shadow-sm border border-gray-200 p-6 dark:bg-gray-800 dark:border-gray-700">
  <%= render "task_detail", task: @task, organization: @organization, project: @project, checklist_item: @checklist_item, comment: @comment %>
</div>
