<h1 class="dark:text-gray-100"><%= t("invitations.title") %></h1>

<%= link_to t("invitations.new"), new_organization_invitation_path(@organization), class: "dark:text-indigo-400" %>

<ul>
  <% @invitations.each do |invitation| %>
    <li class="dark:text-gray-300"><%= invitation.email %> - <%= invitation.role %></li>
  <% end %>
</ul>
